<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Share</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/assets/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    
    <div class = "main_section">
        <div class="content">
            <img src="../static/assets/logo.png" alt="Meal Share">
        <!--Title-->
        <h3>WE ARE ENDING HUNGER IN OUR COMMUNITY</h3>
        
        <!--Description-->
        <p>World hunger affects millions globally, with 149 million children under five stunted and 45 million wasted due to malnutrition in 2020. The COVID-19 pandemic worsened food insecurity, adding an estimated 100 million people to those facing hunger.</p>
        
        <p>MealShare is an application that allows people to make a difference. From delivery people to donators, a member of the community will take the role. </p>

        <!--Donate and Deliver and Recieve-->
        <div class = "donatedeliver">
            <button id = "donate-btn" class="Dbtn">DONATE</button>
            <button id = "receive-btn" class = "Dbtn">RECEIVE</button>
        </div>
        
               
        <!--Sign Up and Sign In-->
        <!--<div class = "signin_signup"> 
            <button id = "signin-btn" class = "Sbtn">SIGN IN</button>
            <button id = "signup-btn" class = "Sbtn">SIGN UP</button>

        </div>-->
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static',filename = 'script.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>